
.main-container {
    width: auto;
    
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf5e6; 
    border: 2px solid #6050f1; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    font-family: "Playfair Display", serif; 
    color: #251d4b; 
}


.title-container {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px dashed #25138b; 
}

.title-container h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #25138b; 
    letter-spacing: 3px; 
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); 
    margin: 0;
}


.article-container {
    
    height: auto;
    background-color: #faf0db; 
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #25138b; 
    color: #1e1d4b; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    font-style: normal; 
    gap: 20px; 
}


.article-container img {
    flex: 0 0 300px; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px;
    margin: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    float: left;
    
}


.article-container p {
    
    margin: 0;
    line-height: 1.8; 
    font-family: "Inter", sans-serif; 
    text-align: justify; 
}
.article-container::after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width: 768px) {
    .main-container {
        padding: 15px;
    }

    .title-container h1 {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .article-container {
        font-size: 1rem;
        padding: 15px;
    }

    .article-container img {
        flex: 0 0 100%; 
        margin-bottom: 15px;
    }

    .article-container p {
        flex: 1;
        text-align: left; 
    }
}
